* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.from-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    color: white;
    width: 25rem;
    border-radius: 10px;
    padding: 5em 2rem;
    box-shadow: 0px 0px 20px 0px black;
    border: 1px solid black;
}

.login-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.userName .userPassword {
    text-align: center;
    border: 2px solid cyan;
    margin: 1rem;
    background: transparent;
    padding: 1rem 2rem;
    border-radius: 3rem;
    width: 15rem;
    font-size: 1.2rem;
    outline: none;
    transition: all .2s ease-in-out;
}

.userName:focus,
.userPassword:focus {
    width: 20rem;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes colorChange {
    0% {}
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {}
}